@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #be2edd;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

body.show-nav {
    /* Width of nav */
    transform: translateX(200px);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);

    border-right: 2px solid rgba(200, 200, 200, 0.1);

    color: #fff;
    background-color: var(--primary-color);
}

nav .logo {
    padding: 30px 0;
    text-align: center;
}

nav .logo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    padding: 20px;
    border-bottom: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li:first-of-type {
    border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

header {
    position: relative;
    padding: 40px 15px;
    font-size: 130%;
    text-align: center;
    color: #fff;
    background-color: var(--primary-color);
}

header h1 {
    margin: 0;
}

header p {
    margin: 30px 0;
}

button, input[type='submit'] {
    padding: 8px 12px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: var(--secondary-color);
    cursor: pointer;
}

button:focus {
    outline: none;
}

.toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cta-btn {
    padding: 12px 30px;
    font-size: 20px;
}

.container {
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-container.show-modal {
    display: block;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
    border-radius: 5px;

    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    overflow: hidden;

    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-header {
    padding: 15px;
    color: #fff;
    background-color: var(--primary-color);
}

.modal-header h3 {
    margin: 0;
    border-bottom: 1px solid #333;
}

.modal-content {
    padding: 20px;
}

.modal-form div {
    margin: 15px 0;
}

.modal-form .label {
    display: block;
    margin-bottom: 4px;
}

.modal-form .form-input {
    padding: 8px;
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    background: transparent;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}