@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #be2edd;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);

    border-right: 2px solid rgba(200, 200, 200, 0.1);

    color: #fff;
    background-color: var(--primary-color);
}

nav .logo {
    padding: 30px 0;
    text-align: center;
}

nav .logo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    padding: 20px;
    border-bottom: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li:first-of-type {
    border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}