* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #2d2013;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 800px;
}

.flex {
    display: flex;
}

input,
button {
    border: 1px solid #dedede;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 8px 10px;
    margin: 0;
    font-size: 14px;
}

input[type='text'] {
    width: 300px;
}

.search-btn {
    border-left: 0;
    border-radius: 0;
    
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.random-btn {
    margin-left: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

@media (max-width: 800px) {
    
}
@media (max-width: 700px) {
    
}
@media (max-width: 500px) {
    input[type='text'] {
        width: 100%;
    }  
}